
.pagination-limit, .search-filter {
    justify-content: space-between;
}

@media only screen and (max-width: 440px) {
    .pagination-limit, .search-filter {
        justify-content: center;
    }
}

@media only screen and (max-width: 990px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding: 1.75rem !important;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before {
        content: "ID";
    }

    td:nth-of-type(2):before {
        content: "Name";
    }

    td:nth-of-type(3):before {
        content: "Balance";
    }

    td:nth-of-type(4):before {
        content: "Type";
    }

    td:nth-of-type(5):before {
        content: "Open Date";
    }

    td:nth-of-type(6):before {
        content: "Close Date";
    }

    td:nth-of-type(7):before {
        content: "Confirmed";
    }

    td:nth-of-type(8):before {
        content: "Active";
    }

    td:nth-of-type(9):before {
        content: "Users";
    }
}

tr.expandable > td {
    box-shadow: inset 0 3px 6px -3px rgba(0,0,0,.2);
    padding: 0;
}

tr.expandable > td > .inner {
    margin: 15px;
    overflow: hidden;
}
