html{
    margin: 0;
    padding: 0;
}

.bg {
    background-image: url("./assets/bankground.jpeg");
    min-height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

a:hover{
    color: #6ec1ed !important;
}
